.root{
    position:absolute;
    width:50%;
    left:25%;
    top:30%;
    padding: 33px;
    border-radius: 22px;
    margin: auto;
    background-color: #f4f4f4;
}
.del{
    float: right !important;
}
input{
    margin-left: 2% !important;
    position: relative;
    padding: 10px;;
    min-width: 80%;
    height:33px;
    outline: none;
    box-shadow: 5px 5px 15px -5px rgba(0,0,0,0.3);
    border-radius: 15px;
    /* border-bottom : 3px solid #8566aa; */
}
.add{
    width: 25px;
	height: 33px;
    background-color: #7E57C2!important;
    margin-left: 8px !important;
    

    
}
.butt{
    position: relative;
    padding-left:20%;
    padding-bottom: 0px !important;
    
}